In [120]:
#import Libraries
import pandas as pd

In [122]:
#read csv
df=pd.read_csv(r"C:\Users\Mahmoud Ashraf\ieee-jupyter\task12\train_blackFriday.csv")

In [123]:
#number of rows and coulmns
df.shape

(550068, 12)

In [124]:
#show data types found
df.dtypes

User_ID                         int64
Product_ID                     object
Gender                         object
Age                            object
Occupation                      int64
City_Category                  object
Stay_In_Current_City_Years     object
Marital_Status                  int64
Product_Category_1              int64
Product_Category_2            float64
Product_Category_3            float64
Purchase                        int64
dtype: object

In [127]:
#show coulmns
df.columns

Index(['User_ID', 'Product_ID', 'Gender', 'Age', 'Occupation', 'City_Category',
       'Stay_In_Current_City_Years', 'Marital_Status', 'Product_Category_1',
       'Product_Category_2', 'Product_Category_3', 'Purchase'],
      dtype='object')

In [130]:
#Checking NaN values in the given dataset
df.isna().sum()

User_ID                            0
Product_ID                         0
Gender                             0
Age                                0
Occupation                         0
City_Category                      0
Stay_In_Current_City_Years         0
Marital_Status                     0
Product_Category_1                 0
Product_Category_2            173638
Product_Category_3            383247
Purchase                           0
dtype: int64

In [132]:
#Checking duplicate values in the dataset
df.duplicated().sum()

0

In [133]:
#Renaming the column name to lower case
df.columns = df.columns.str.lower()
df

,user_id,product_id,gender,age,occupation,city_category,stay_in_current_city_years,marital_status,product_category_1,product_category_2,product_category_3,purchase
0,1000001,P00069042,F,0-17,10,A,2,0,3,NaN,NaN,8370
1,1000001,P00248942,F,0-17,10,A,2,0,1,6.0,14.0,15200
2,1000001,P00087842,F,0-17,10,A,2,0,12,NaN,NaN,1422
3,1000001,P00085442,F,0-17,10,A,2,0,12,14.0,NaN,1057
4,1000002,P00285442,M,55+,16,C,4+,0,8,NaN,NaN,7969
...,...,...,...,...,...,...,...,...,...,...,...,...
550063,1006033,P00372445,M,51-55,13,B,1,1,20,NaN,NaN,368
550064,1006035,P00375436,F,26-35,1,C,3,0,20,NaN,NaN,371
550065,1006036,P00375436,F,26-35,15,B,4+,1,20,NaN,NaN,137
550066,1006038,P00375436,F,55+,1,C,2,0,20,NaN,NaN,365
550067,1006039,P00371644,F,46-50,0,B,4+,1,20,NaN,NaN,490

In [136]:
#Removing Reducant Values (user id)
df.drop('user_id',axis=1)

,product_id,gender,age,occupation,city_category,stay_in_current_city_years,marital_status,product_category_1,product_category_2,product_category_3,purchase
0,P00069042,F,0-17,10,A,2,0,3,NaN,NaN,8370
1,P00248942,F,0-17,10,A,2,0,1,6.0,14.0,15200
2,P00087842,F,0-17,10,A,2,0,12,NaN,NaN,1422
3,P00085442,F,0-17,10,A,2,0,12,14.0,NaN,1057
4,P00285442,M,55+,16,C,4+,0,8,NaN,NaN,7969
...,...,...,...,...,...,...,...,...,...,...,...
550063,P00372445,M,51-55,13,B,1,1,20,NaN,NaN,368
550064,P00375436,F,26-35,1,C,3,0,20,NaN,NaN,371
550065,P00375436,F,26-35,15,B,4+,1,20,NaN,NaN,137
550066,P00375436,F,55+,1,C,2,0,20,NaN,NaN,365
550067,P00371644,F,46-50,0,B,4+,1,20,NaN,NaN,490

In [138]:
#Checking for unique values in each individual column of the dataset
for column in df.columns:
    print(df[column].unique())

[1000001 1000002 1000003 ... 1004113 1005391 1001529]
['P00069042' 'P00248942' 'P00087842' ... 'P00370293' 'P00371644'
 'P00370853']
['F' 'M']
['0-17' '55+' '26-35' '46-50' '51-55' '36-45' '18-25']
[10 16 15  7 20  9  1 12 17  0  3  4 11  8 19  2 18  5 14 13  6]
['A' 'C' 'B']
['2' '4+' '3' '1' '0']
[0 1]
[ 3  1 12  8  5  4  2  6 14 11 13 15  7 16 18 10 17  9 20 19]
[nan  6. 14.  2.  8. 15. 16. 11.  5.  3.  4. 12.  9. 10. 17. 13.  7. 18.]
[nan 14. 17.  5.  4. 16. 15.  8.  9. 13.  6. 12.  3. 18. 11. 10.]
[ 8370 15200  1422 ...   135   123   613]

In [142]:
#replace each range in age coulmn to its creosspond category ex:0-17 ->child ,18-25 ->teenage, 26-50 -> adult , 51-55+ ->old

In [144]:
age_convert = {
    '0-17': 17,
    '18-25': 25,
    '26-50': 50,
}
df['age'] = df['age'].map(age_convert)

def new_age(age):
    if age >= 0 and age <= 17:
        return 'Child'
    elif age >= 18 and age <= 25:
        return 'Teenage'
    elif age >=26 and age <= 50:
        return 'Adult'
    elif age >=51:
        return 'Old'

In [146]:
df['age'] = df['age'].apply(new_age)

In [148]:
df

,user_id,product_id,gender,age,occupation,city_category,stay_in_current_city_years,marital_status,product_category_1,product_category_2,product_category_3,purchase
0,1000001,P00069042,F,Child,10,A,2,0,3,NaN,NaN,8370
1,1000001,P00248942,F,Child,10,A,2,0,1,6.0,14.0,15200
2,1000001,P00087842,F,Child,10,A,2,0,12,NaN,NaN,1422
3,1000001,P00085442,F,Child,10,A,2,0,12,14.0,NaN,1057
4,1000002,P00285442,M,None,16,C,4+,0,8,NaN,NaN,7969
...,...,...,...,...,...,...,...,...,...,...,...,...
550063,1006033,P00372445,M,None,13,B,1,1,20,NaN,NaN,368
550064,1006035,P00375436,F,None,1,C,3,0,20,NaN,NaN,371
550065,1006036,P00375436,F,None,15,B,4+,1,20,NaN,NaN,137
550066,1006038,P00375436,F,None,1,C,2,0,20,NaN,NaN,365
550067,1006039,P00371644,F,None,0,B,4+,1,20,NaN,NaN,490

In [150]:
#Checking for unique values for city_years column
df['stay_in_current_city_years'].unique()

array(['2', '4+', '3', '1', '0'], dtype=object)

In [13]:
#remove + from rows in city_years column

In [152]:
df['stay_in_current_city_years'] = df['stay_in_current_city_years'].str.replace('+', '')

In [154]:
df

,user_id,product_id,gender,age,occupation,city_category,stay_in_current_city_years,marital_status,product_category_1,product_category_2,product_category_3,purchase
0,1000001,P00069042,F,Child,10,A,2,0,3,NaN,NaN,8370
1,1000001,P00248942,F,Child,10,A,2,0,1,6.0,14.0,15200
2,1000001,P00087842,F,Child,10,A,2,0,12,NaN,NaN,1422
3,1000001,P00085442,F,Child,10,A,2,0,12,14.0,NaN,1057
4,1000002,P00285442,M,None,16,C,4,0,8,NaN,NaN,7969
...,...,...,...,...,...,...,...,...,...,...,...,...
550063,1006033,P00372445,M,None,13,B,1,1,20,NaN,NaN,368
550064,1006035,P00375436,F,None,1,C,3,0,20,NaN,NaN,371
550065,1006036,P00375436,F,None,15,B,4,1,20,NaN,NaN,137
550066,1006038,P00375436,F,None,1,C,2,0,20,NaN,NaN,365
550067,1006039,P00371644,F,None,0,B,4,1,20,NaN,NaN,490

In [156]:
#Checking for unique values for category_1 column
df['product_category_1'].unique()

array([ 3,  1, 12,  8,  5,  4,  2,  6, 14, 11, 13, 15,  7, 16, 18, 10, 17,
        9, 20, 19], dtype=int64)

In [158]:
#Checking for unique values for category_2 column
df['product_category_2'].unique()

array([nan,  6., 14.,  2.,  8., 15., 16., 11.,  5.,  3.,  4., 12.,  9.,
       10., 17., 13.,  7., 18.])

In [170]:
#fill null you found
df=df.fillna(0)

In [172]:
#Checking for unique values for category_3 column
df['product_category_3'].unique()

array([ 0., 14., 17.,  5.,  4., 16., 15.,  8.,  9., 13.,  6., 12.,  3.,
       18., 11., 10.])

In [174]:
#fill null you found
df.fillna(0)

array([ 0., 14., 17.,  5.,  4., 16., 15.,  8.,  9., 13.,  6., 12.,  3.,
       18., 11., 10.])

In [182]:
#check for null values
df.isna().sum()

user_id                       0
product_id                    0
gender                        0
age                           0
occupation                    0
city_category                 0
stay_in_current_city_years    0
marital_status                0
product_category_1            0
product_category_2            0
product_category_3            0
purchase                      0
dtype: int64

In [184]:
#check for duplicates values
df.duplicated().sum()

0